build/
coverage/
npm-debug.log

.DS_Store
.idea/
*.pem
*.zip

node_modules/
package-lock.json

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# *.pem
# *.properties

#intellij
.idea/
target/
*.iml
